name: Plant Friends CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install PlatformIO
      run: |
        python -m pip install -U pip
        pip install platformio
        pio update
    - name: Compile project
      run: |
        echo -e '#define WIFI_SSID ""\n#define WIFI_PASSWORD ""\n#define BLYNK_API_KEY ""\n' > secret.h
        echo -e '#define MQTT_HOST "192.168.1.10"\n#define MQTT_PORT 1883\n#define MQTT_USERNAME ""\n#define MQTT_PASSWORD ""\n#define MQTT_BASE_TOPIC ""' >> secret.h
        # Create directory for storing the binaries
        mkdir binaries

        # Build firmware and file system images
        pio run
        cp -v .pio/build/esp12e/firmware.bin binaries/PlantFriends_firmware.bin
        pio run -t buildfs
        cp -v .pio/build/esp12e/spiffs.bin binaries/PlantFriends_spiffs.bin

        # Calculate the checksum
        pushd binaries
        md5sum * > MD5SUMS
        popd
    - uses: actions/upload-artifact@v1
      with:
        name: binaries-${{ github.sha }}
        path: binaries
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: binaries/*
        draft: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
